

.chart-container {
  height: 240px;
  width: 100%;
  float: left;
}

.pie__slice__on-time {
  fill: $base-color;
}

.pie__slice__delayed {
  fill: rgba(43, 35, 66, 0.55);
}

.chart__bar {
  fill: $base-color;
}

.chart__axis-ticks {
  fill: $base-font-color;
  font-size: 0.75rem;
  font-weight: $base-font-light;
}

.status-key {
  float:left;
  margin-left: calc(50% + 2rem);
  transform: translate(-50%, 0);
  .status-key__label {
    float: left;
    font-size: 0.875rem;
    color: $base-color;
    margin-right: $global-spacing * 3;
    position: relative;
  }
  .status-key__label:before {
    content: '';
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    top: .325rem;
    left: -1rem;
    border-radius: .15rem;
  }
  .status-ontime:before {
    background: $base-color;
  }
  .status-delayed:before {
    background: rgba(43, 35, 66, 0.55);
  }
}

/* Timeline */

$timeline-height: 6px;
$timeline-outer: #AAA;
$timeline-inner: #666;

.timeline__row {
  background-color: $timeline-outer;
  width: 100%;
  height: $timeline-height;
  position: relative;

  hr {
    background-color: $timeline-inner;
    bottom: -32px;
    height: $timeline-height * 2;
    width: 1px;
    position: absolute;
  }
}

.timeline__inner {
  background-color: $timeline-inner;
  height: $timeline-height;
  position: absolute;
}

.timeline__label {
  bottom: -12px;
  display: inline-block;
  position: absolute;
}
