/* ==========================================================================
   Tooltips
   ========================================================================== */

.__react_component_tooltip {
  max-width: $row-min-width;
  pointer-events: auto !important;
  z-index: 9999 !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
  span {
    display: inline-block;
    width: 100%;
    word-break: break-all;
    &.tooltip__sources {
      font-size: 0.7rem;
      margin-top: 0.5rem;
    }
    &:only-of-type {
      margin: 0;
    }
  }
}
