/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";


/* Libraries
   ========================================================================== */

/**
 * Using Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import "bourbon";

/**
 * Jeet, a grid system designed for humans:
 * http://jeet.gs/
 */

@import "jeet/index";


/* Reboot
   ========================================================================== */

@import "vendor/normalize";
@import "vendor/reset";

/**
 * Using Kenneth Ormandy's OpenType features—ligatures, kerning, and
 * more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

@import "vendor/normalize-opentype";

/* Fonts
   ========================================================================== */


/* Settings
   ========================================================================== */

@import "settings/variables";
@import "settings/functions";
@import "settings/mixins";


/* Core
   ========================================================================== */

@import "core/base";
@import "core/cards";
@import "core/collecticons"; // Webfont icon library
@import "core/typography";
@import "core/tables";
@import "core/utilities";
@import "core/prime-nav";
@import "core/inpages";
@import "core/footer";
@import "core/home";
@import "core/rtl";
@import "core/browse";
@import "core/map";
@import "core/uhoh";
@import "core/projects";
@import "core/donor";


/* Components
   ========================================================================== */

@import "components/buttons";
@import "components/forms";
@import "components/drops";
@import "components/modals";
@import "components/login";
@import "components/charts";
