/* ==========================================================================
   Base
   ========================================================================== */

/* Reset the box-sizing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Make viewport responsive on every browser */

@at-root {
  @-moz-viewport      { width: device-width; }
  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @-webkit-viewport   { width: device-width; }
  @viewport           { width: device-width; }
}

/* Reset HTML, body, etc */

html {
  font-size: $root-font-size;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: #FFF;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
}


/* Links
   ========================================================================== */

a {
  cursor: pointer;
  color: $link-color;
  transition: opacity 0.24s ease 0s;
}

a:visited {
  color: $link-color;
}

a:hover {
  opacity: 0.70;
}

a:active {
  outline: 0;
}

a:focus {
  outline: 0; // This causes usability problems. Needs fixing.
}

a.link--deco {
  text-decoration: none;
  font-weight: $base-font-bold;
  background-image: linear-gradient(180deg, transparent 65%, rgba($base-color, 0.22) 0px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease 0s;

  &:hover {
    opacity: 1;
    background-size: 100% 100%;
  }
}

a.link--deco-active {
  background-size: 100% 100%;
}

/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-spacing;
  padding-right: $global-spacing;

  @include media(small-up) {
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
  }

  @include media(xlarge-up) {
    padding-left: $global-spacing * 4;
    padding-right: $global-spacing * 4;
  }
  
  &--centered {
    max-width: $row-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Buttons
   ========================================================================== */

/**
 * iOS "clickable elements" fix for role="button":
 * https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
 */

[role="button"] {
  cursor: pointer;
}


/* Forms
   ========================================================================== */

input, select, textarea {
  font: inherit;
  height: auto;
  width: auto;
  margin: 0;
}


/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Misc
   ========================================================================== */

/**
 * Make all browsers render the <main> element correctly.
 */

main {
  display: block;
}
