.project-browse {
  .inpage__header {
    padding-bottom: 0;
  }
  .map__container {
    height: 550px;
  }
}

.map__actions {
  padding: $global-spacing 0;
  box-shadow: inset 0 1px 0 0 $tertiary-color;
}

.map__search-input {
  position: relative;
  width: 250px;
  .form__input-group-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.project-list {
	.section__title {
		float: left;
	}
}

.inpage__actions {
  margin-top: $global-spacing * 2;
  @include col(12/12);
  @include media(small-down) {
  	margin-top: $global-spacing;
  }
  ul {
    margin-bottom: 0;
  }
}

.actions-filters {
  @include col(8/12);
  .button--list {
    > li {
      &:first-child {
      margin-bottom: $global-spacing;
      margin-right: $global-spacing * 2;
    };
    }
  }
  @include media(small-down) {
  	@include col(12/12);
  	.button--list {
  		margin-bottom: $global-spacing;
  	}
  }
  @include media(xsmall-only) {
  	padding-bottom: $global-spacing;
  }
}

.actions-toggle {
  @include col(4/12);
  .button--toggle {
    float: right;
  }
  @include media(small-down) {
  	@include col(12/12);
  	margin-bottom: $global-spacing;
  	.button--toggle {
    	float: left;
  	}
  }
}

.filters {
	oveflow: hidden;
	@include media(small-down) {
		padding-bottom: $global-spacing * 2;
  }
}

.section__header {
  float: left;
  @include col(12/12);
}

.section__content {
  float: left;
  @include col(12/12);
}

