.page__footer {
  background-color: #fff;
  padding: ($global-spacing * 2) 0;
  box-shadow: inset 0 1px 0 0 rgba($base-color, .9);
}

.updates {
  @include col(12/12);
  box-shadow: inset 0 -1px 0 0 $tertiary-color;
  padding-bottom: $global-spacing;

  @include media(medium-up){
    @include col(6/12);
    box-shadow: inset 0 -1px 0 0 $tertiary-color;
  }

  @include media(large-up){
    box-shadow: none;
  }

  &__title,  {
    font-family: $base-font-family;
    color: $base-color;
    margin-bottom: 0;
  }
  &__description {
    color: rgba($base-color, 0.5);
  }
  .form__input-group {
    @include col(12/12);
    @include media(large-up){
      @include col(8/12);
    }
  }
}


.logos {
  @include media(medium-up) {
    @include col(12/12);
  }
  @include media(large-up){
    @include col(6/12);
  }

  &__list {
    margin: 0;
    padding: 0;    

    li {
      float: left;
      list-style: none;
      border-radius: $base-border-radius;
      margin: $global-spacing 0;
      margin-right: $global-spacing;
      max-width: 15rem;
      @include media(medium-up) {
        float: left;
        width: auto;
        padding-top: $global-spacing;
      }

      @include media(large-up) {
        float: right;
        &:first-child {
          margin-right: 0;
        };
      }
    }
  }

  &__item {
    display: block;
    height: 4rem;
    text-align: center;
    line-height: 4rem;

    img {
      max-height: 4rem;
      vertical-align: middle;
      @include media(small-down) {
        max-height: 3rem;
      }
    }
  }
}