.overview-home {
  @extend .clearfix;
  padding: ($global-spacing * 2) 0;
}

.overview-home-charts {
  padding: ($global-spacing * 4) 0 ($global-spacing * 2) 0;
  box-shadow: inset 0 1px 0 0 $tertiary-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @extend .clearfix;
}

.project-title{
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  width: 100%;
}

.inpage {
  &__subtitle--alt {
  font-weight: $base-font-light;
  letter-spacing: $global-spacing/4;
  margin-bottom: 0;
  font-style: italic;
  }
}

.home {
  .inpage__title {
    @include col(12/12);
  }
  .inpage__section {
    padding-top: $global-spacing;
    box-shadow: 0 0 0 1px $tertiary-color;
  }
  .section__title {
    padding-bottom: 0;
  }
  .map__container {
    margin-bottom: 0;
    margin-top: $global-spacing * 4;
    box-shadow: 0 0 0 1px $tertiary-color;
    height: 20rem;
  }
}

.category-stats {
  @include clearfix;
  margin: 0 auto;
  
 
  }

.category-stats__item {
  list-style: none;
  @include col(12/12);
  padding-bottom: $global-spacing;
  margin-bottom: $global-spacing/2;
  font-size: 0.875rem;
  border-right: 0;
  min-width: 47%;
  @include media(medium-up) {
    margin-top: $global-spacing * 2;
    padding: 0 1.4em;
    width: auto;
    min-width: 22%;
    max-width: 24%;
    border-right: 1px solid $tertiary-color;
   
  }
  @include media(medium-down) {
    min-width: 47%;
    &:nth-of-type(2) {
      border-right: 0;
    }
  }
  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

.inpage-stats__collaborators {
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: .5em;
    &::after {
      content: ",";
    }
    &:last-child {
      &::after {
        content: "";
      }
      &::before {
        content: 'and ';
      }
    }
  }
}
