.inpage {

  &__header {
    padding: ($global-spacing * 4) 0;
    @include media(xsmall-only) {
      padding-bottom: $global-spacing;
      padding-top: $global-spacing;
    }
  }

  &__body--alt {
    padding: $global-spacing 0 ($global-spacing * 4) 0;
    p {
      @include col(10/12);
    }
  }

  &__subtitles {
    margin-bottom: 0;
    font-weight: $base-font-light;
    span {
      margin-right: $global-spacing/2;
      font-size: 0.75rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    @include media(medium-up) {
      @include col(7/12);
    }
    @include col(12/12);
  }

  &__headline {
    @extend .clearfix;
    .inpage-meta {
      display: block;
      margin-bottom: 0rem;
    }
  }

  &__title {
    @include col(7/12);
    @include media(small-down){
      @include col(12/12);
    }
  }

  &__headline-actions {
    float: none;
    margin-bottom: $global-spacing;
    @include media(medium-up){
      float: right;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      li {
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
         &:last-child {
          margin-right: 0rem;
          };
        @include media(medium-up) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__section {
    background-color: #fff;
    @include col(12/12);
    margin-bottom: $global-spacing * 2;
    padding: $global-spacing * 3;
    box-shadow: inset 0 0 0 1px $tertiary-color;
    &:first-child {
      margin-top: $global-spacing * 4;
    };
    &:last-child {
      margin-bottom: $global-spacing * 4;
    };
}

  &__section--bleed {
    @include col(12/12);
    background-color: #fff;
    padding: $global-spacing * 4 0;
    .related-projects {
      @extend .clearfix;
      @include col(12/12);
    }
  }

    td:nth-of-type(n):before {
      @extend th;
      left: 0;
      position: absolute;
    }

    td:nth-of-type(1):before { 
      @include media(small-down){
      content: "Name and Description"; 
      }
    }
    td:nth-of-type(2):before { 
      @include media(small-down){
      content: "KPI"; 
      }
    }
    td:nth-of-type(3):before { 
      @include media(small-down){
      content: "Target"; 
      }
    }
    td:nth-of-type(4):before { 
      @include media(small-down){
      content: "Progress"; 
      }
    }
    td:nth-of-type(5):before { 
      @include media(small-down){
      content: "Date"; 
      }
    }

    .row-name {
      width: 35%;
    }
    .row-target, .row-progress, .row-date {
      width: 12%;
    }
}

.section {
  &__description {
    @include col(10/12, $offset: 1/12);
    margin-bottom:($global-spacing * 2);
    text-align: center;
    @include media(medium-up) {
      @include center(600px);
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    padding-bottom: $global-spacing;
  }
  &__footer {
    text-align: center;
    width: 100%;
      li {
        display: inline-block;
        &:first-child {
          margin-right: $global-spacing;
        };
      }
    }
  &__header {
    .sort {
      float: right;
    }
  }
}

.inpage-meta {
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: $base-font-regular;
  color: $base-color;
  text-transform: capitalize;

  &__label--status {
    @extend .visually-hidden;
    box-shadow: 1px 0 0 $base-color;
  }

  &__label {
    text-transform: capitalize;
    font-size: 0.75rem;
    font-weight: $base-font-regular;
    float: left;
    line-height: 1rem;
    font-weight: $base-font-bold;
    margin-right: $global-spacing/2;
  }

  &__value {
    margin-bottom: 0;
    float: left;
    line-height: 1rem;

    &--status {
      margin-right: 1rem;
      position: relative;
      padding-left: 0.75rem;
      box-shadow: 1px 0 0 $base-color;
      padding-right: $global-spacing;
      &:before {
        content: '';
        position: absolute;
        top: 0.25rem;
        left: 0;
        background: rgba($base-font-color, 0.5);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: $full-border-radius;

        .project--ontime & {
          background: $success-color;
        }
        .project--delayed & {
          background: $warning-color;
        }
      }
    }
  }
}

.inpage__body {
  background-color: $background-color;
}

.inpage__section--overview {

  .inpage__col--map {
      @include col(12/12);
      margin-bottom: $global-spacing * 2;
    @include media(medium-up) {
      @include col(5/12);
      margin-bottom: 0;
    }

   .map__container {
    @include media(medium-up){
      height: 750px;
    }
    height: 300px;
   }
  }

  .inpage__col--content {
    @include col(12/12);
    @include media(medium-up) {
      @include col(7/12);
    }
  }
}


.inpage-stats {
  color: $base-color;
  list-style: none;
  font-size: 1.75rem;
  font-weight: $base-font-light;
  font-family: $base-font-family;
  line-height: 1.5rem;
  overflow: hidden;
  @include media(medium-up) {
    font-size: 3.25rem;
    line-height: 2.75rem;
  }

  li {
    float: left;
    box-shadow: 1px 0 0 $tertiary-color;
    padding-right: $global-spacing * 2;
    margin-right: $global-spacing * 2;
    @include media(medium-up) {
      padding-right: $global-spacing * 4;
      margin-right: $global-spacing * 4;
    }
    &:last-child {
      box-shadow: none;
      margin: 0;
      padding: 0;
    }
  }

  small {
    display: block;
    font-weight: $base-font-bold;
    font-size: 1rem;
    color: rgba($base-color, 0.66);
  }
}

.inpage__overview-links {
  border-top: solid 1px $tertiary-color;
  overflow: hidden;
  padding-top: 1rem;

  .overview-item {
    @include col(6/12, $cycle:2);
    @include media(small-down) {
      @include col(12/12);
    }
  }
  .overview-item--alt {
    @include col(12/12);  
  }
}

.overview-item__title {
    display: block;
    margin-bottom: $global-spacing/2;
    margin-top: $global-spacing;
  
  ul {
    margin: 0;
    overflow:hidden;
  }

  li {
    font-size: 0.875rem;
    float: left;
    list-style: none;
    padding-top: 0;
    &:last-child {
      margin-bottom: $global-spacing;
    };
    &:first-child {
      @include col(12/12);
    }
  }
}

.button--list {
  li {
    display: inline-block;
    &:first-child {
      margin-bottom: $global-spacing/2;
      margin-right: $global-spacing/2;
    };
  }
}

.link-list {
  li {
    list-style: none;
    margin-bottom: $global-spacing/4;
    font-size: 0.875rem;
    color: $base-color;
  }
}

.tags {
  float: left;
  margin-top: $global-spacing * 1.5;
  &__group {
    @include col(12/12);
    @include media(xsmall-only) {
      margin-bottom: $global-spacing;
    }
  }

  &__label {
    float: left;
    font-size: 0.75rem;
    line-height: 1.75rem;
    margin-right: $global-spacing/2;
    margin-bottom: 0;
    @include media(xsmall-only) {
      float: none;
      line-height: 0.75rem;
    }
  }
}
