.inpage {

  &__header {
    padding: ($global-spacing * 3) 0;
    @include media(xsmall-only) {
      padding-bottom: $global-spacing;
      padding-top: $global-spacing;
    }
  }

  &__body--alt {
    padding: $global-spacing 0 ($global-spacing * 4) 0;
    section {
      @include col(10/12);
    }
  }

  &__subtitles {
    margin-bottom: 0;
    font-weight: $base-font-light;
    width: 100%;
    span {
      margin-right: $global-spacing/2;
      font-size: 0.875rem;
    }
  }

  &__description {
    font-size: 1.125rem;
    @include media(medium-up) {
      @include col(7/12);
    }
    @include col(12/12);
  }

  &__headline {
    @extend .clearfix;
    display: inline;
    .inpage-meta {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  &__header-data {
    margin-top: $global-spacing;
    .inpage-stats {
      li {
        font-size: 2.25rem;
        line-height: 1.75rem;
        padding-right: $global-spacing * 2;
        margin-right: $global-spacing * 2;
      }
    }
  }

  &__title {
    text-transform: capitalize;
    @include col(7/12);
    @include media(small-down){
      @include col(12/12);
    }
  }

  &__headline-actions {
    float: none;
    position: relative;
    margin-bottom: $global-spacing;
    @include media(medium-up){
      float: right;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      li {
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
         &:last-child {
          margin-right: 0rem;
          };
        @include media(medium-up) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__section {
    background-color: #fff;
    @include col(12/12);
    margin-bottom: $global-spacing * 2;
    padding: $global-spacing * 3;
    box-shadow: 0 0 0 1px $tertiary-color;
    &:first-child {
      margin-top: $global-spacing * 4;
    };
    &:last-child {
      margin-bottom: $global-spacing * 4;
    };
}

  &__section--bleed {
    @include col(12/12);
    background-color: #fff;
    padding: $global-spacing * 4 0;
    .related-projects {
      @extend .clearfix;
      @include col(12/12);
    }
  }
}

.section {
  &__description {
    @include col(10/12, $offset: 1/12);
    margin-bottom:($global-spacing * 2);
    text-align: center;
    @include media(medium-up) {
      @include center(600px);
      text-align: center;
    }
  }
  &__title {
    text-align: center;
    padding-bottom: $global-spacing;
  }
  &__footer {
    text-align: center;
    width: 100%;
      li {
        display: inline-block;
        margin-right: $global-spacing;
        &:last-child {
          margin-right: 0;
        };
        @include media(small-down) {
          @include col(12/12);
          margin-top: $global-spacing;
        }
      }
    }
  &__header {
    .sort {
      float: right;
    }
  }
}

.inpage-meta {
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: $base-font-regular;
  color: $base-color;
  text-transform: capitalize;

  &__label--status {
    @extend .visually-hidden;
    box-shadow: 1px 0 0 $base-color;
  }

  &__label, .inpage-meta__label {
    text-transform: capitalize;
    font-size: 0.75rem;
    font-weight: $base-font-regular;
    float: left;
    line-height: 1rem;
    font-weight: $base-font-bold;
    margin-right: $global-spacing/2;
  }

  .inpage-meta__label--light {
    font-weight: 300;
    margin-right: 0.25rem;
  }

  &__value {
    margin-bottom: 0;
    float: left;
    line-height: 1rem;

    &--status {
      margin-right: 1rem;
      position: relative;
      padding-left: 0.75rem;
      box-shadow: 1px 0 0 $base-color;
      padding-right: $global-spacing;
      &:before {
        content: '';
        position: absolute;
        top: 0.25rem;
        left: 0;
        background: rgba($base-font-color, 0.5);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: $full-border-radius;

        .project--ontime & {
          background: $success-color;
        }
        .project--delayed & {
          background: $warning-color;
        }
        .project--extended & {
          background: $partial-success-color;
        }
      }
    }
    &--type {
      margin-right: 1rem;
      box-shadow: 1px 0 0 $base-color;
      padding-right: $global-spacing;
    }
  }
}

.inpage__body {
  background-color: $background-color;
}

.inpage__section--overview {
    padding: 0;
  @include media(medium-up) {
    @include display(flex);
  }
  .inpage__col--content {
    @include col(12/12);
    padding: 3rem;
    @include media(medium-up) {
      @include col(7/12);
      padding: 3rem 3rem 3rem 1rem;
      @include flex(1 1 auto);
    }
  }
  .inpage__col--map {
    color: red;
    @include col(12/12);
    margin-bottom: $global-spacing * 2;
    @include media(medium-up) {
      @include col(5/12);
      margin-bottom: 0;
      @include flex(1 1 auto);
      position: relative;
    }
    .map__container {
      position: relative;
      height: 20rem;
      @include media(medium-up){
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.category-stats__item .link-list {
  display: none;
}

.inpage-stats {
  max-height: 150px;
  color: $base-color;
  list-style: none;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: $base-font-family;
  overflow: hidden;
  @include media(medium-up) {
    font-size: 1.4rem;
    .num__internal {
      max-width: 17rem;
      li {
        font-size: .8em;
        color: lighten($base-font-color, 2%);
        float: left;
        margin-right: .8em;
        list-style-type: none;
        &:after {
          content: ',';
        }
        &:last-of-type:after {
          content: '';
        }
      }
    }
  }

  .num__internal--large {
    float: left;
    box-shadow: 1px 0 0 $tertiary-color;
    padding-right: $global-spacing * 2;
    margin-right: $global-spacing * 2;
    @include media(medium-up) {
      padding-right: $global-spacing * 2;
      margin-right: $global-spacing * 3;
    }
    @include media(medium-down) {
      box-shadow: none;
      font-size: .8em;
      padding-right: 1rem;
    }
    &:last-child {
      box-shadow: none;
      margin: 0;
      padding: 0;
    }
  }

  small {
    display: block;
    font-weight: $base-font-bold;
    font-size: .8rem;
    color: rgba($base-color, 0.66);
    margin-top: 20px;
  }
  span{
    color: #cec4c4;
    padding-right: 5px;
  }
}

.inpage__overview-links {
  border-top: solid 1px $tertiary-color;
  overflow: hidden;
  padding-top: 1rem;
  font-size: 0.875rem;

  .overview-item {
    @include col(6/12, $cycle:2);
    @include media(small-down) {
      @include col(12/12);
    }
  }
  .overview-item--alt {
    @include col(12/12);
  }
}

.overview-item__title {
    display: block;
    margin-bottom: $global-spacing/2;
    margin-top: $global-spacing;

  ul {
    margin: 0;
    overflow:hidden;
  }

  li {
    font-size: 0.875rem;
    float: left;
    list-style: none;
    padding-top: 0;
    &:last-child {
      margin-bottom: $global-spacing;
    };
    &:first-child {
      @include col(12/12);
    }
  }
}

.button--list {
  > li {
    display: inline-block;
    &:first-child {
      margin-bottom: $global-spacing/2;
      margin-right: $global-spacing/2;
    };
  }
}

.link-list {
  li {
    list-style: none;
    margin-bottom: $global-spacing/4;
    font-size: 0.875rem;
    color: $base-color;
  }
}

.tags {
  margin-top: $global-spacing * 1.5;
  &__group {
    @include col(12/12);
    @include media(xsmall-only) {
      margin-bottom: $global-spacing;
    }
  }

  &__label {
    float: left;
    font-size: 0.875rem;
    line-height: 1.75rem;
    margin-right: $global-spacing/2;
    margin-bottom: 0;
    @include media(xsmall-only) {
      float: none;
      line-height: 0.75rem;
    }
  }
}
