.map__container {
  width: 100%;
/*  height: 380px;*/
}

.category {
  .map__container {
    height: 25rem;
    margin-top: $global-spacing * 4;
    box-shadow: 0 0 0 1px $tertiary-color;
  }
}

.leaflet-container a {
  color: $base-color !important;
}

.leaflet-overlay-pane svg {
  pointer-events: all;
}

.leaflet-popup-close-button {
  top: 5px !important;
  right: 5px !important;
}

.leaflet-container h5 {
  font-size: 1rem !important;
}

.leaflet-popup-content {
  padding: ($global-spacing * 1.5) $global-spacing $global-spacing $global-spacing !important;
}

.marker__description {
  font-size: 0.875rem !important;
	font-family: $base-font-family;
  color: $base-color;
}

.map__outer {
  position: relative;
}

.indicator__overlay {
  position: absolute;
  width: 18rem;
  top: 10px;
  left: 50px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 4px 16px 8px $base-alpha-color;
  border-radius: $base-border-radius;
  .heading--label {
    font-family: $base-font-family;
    font-size: 1rem;
    margin: $global-spacing $global-spacing 0 $global-spacing;
    text-transform: capitalize;
    font-weight: $base-font-bold;
  }
  .indicator__overlay--list {
    padding: 0 $global-spacing $global-spacing $global-spacing;
  }
  .indicator__overlay--item {
     list-style: none;
     color: $base-color;
     font-size: 0.875rem;
     line-height: 1.25rem;
     padding: $global-spacing $global-spacing * 2;
     position: relative;
     box-shadow: inset 0 -1px 0 0 $tertiary-color;
     a {
      padding-left: 20px;
      color: $base-font-color;
     }
     &:last-child {
      padding-bottom: 0;
      box-shadow: none;
     }
     &:hover {
      color: $base-color;
      a {
        color: $base-color;
        opacity: 1;
      }
     };
  }
  .indicator__overlay--selected {
    a {
      color: $base-color;
    }
  }
}

.indicator-close, .indicator-toggle {
  top: $global-spacing - 0.125rem;
  @extend .button, .button--small, .button--base-unbounded, .button--text-hidden;
  position: absolute;
}

.indicator-close {
  right: 0;
  &:before {
    @extend %collecticon-sm-xmark;
  }
}

.indicator-toggle {
  left: 0;
  opacity: 0.32;

  &:before {
    @extend %collecticon-eye;
  }

  .indicator__overlay--selected & {
    opacity: 1;
  }
}

.legend__container {
  position: relative;
  padding: 1em 0;
}

.legend__markers {
  display: inline-block;
}

.legend__item {
  font-size: 1em;
  line-height: 1em;
  margin: 0 1.5em 0 0;
}

.legend__image {
  height: 1em;
}

.legend__image--marker img {
  width: 18px;
  margin-bottom: -24px;
}

.legend__image--cluster {
  position: relative;
  margin-right: 0.25em;
  display: inline-block;
  width: 1em;
}

.legend__image--cluster--bg {
  border-radius: 50%;
  position: absolute;
  height: 1.5em;
  left: -0.25em;
  top: -0.25em;
  background-color: rgba(241, 211, 87, 0.6);
  width: 1.5em;
}

.legend__image--cluster--text {
  color: black;
  font-size: 0.8em;
  left: 0.3em;
  position: absolute;
}
