.map__container {
  width: 100%;
/*  height: 380px;*/
}

.category {
  .map__container {
    height: 25rem;
    margin-top: $global-spacing * 4;
    box-shadow: 0 0 0 1px $tertiary-color;
  }
}

.leaflet-container a {
  color: $base-color !important;
}

.leaflet-overlay-pane svg {
  pointer-events: all;
}

.leaflet-popup-close-button {
  top: 5px !important;
  right: 5px !important;
}

.leaflet-container h5 {
  font-size: 1rem !important;
}

.leaflet-popup-content {
  padding: ($global-spacing * 1.5) $global-spacing $global-spacing $global-spacing !important;
}

.marker__description {
  font-size: 0.875rem !important;
  font-family: $base-font-family;
  color: $base-color;
}

.map__outer {
  position: relative;
}

.indicator__overlay {
  position: absolute;
  width: 18rem;
  top: 10px;
  left: 50px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 4px 16px 8px $base-alpha-color;
  border-radius: $base-border-radius;
  .heading--label {
    font-family: $base-font-family;
    font-size: 1rem;
    margin: $global-spacing $global-spacing 0 $global-spacing;
    text-transform: capitalize;
    font-weight: $base-font-bold;
  }

  .indicator-list-container {
    .indicator__overlay {
      @include col(4/12);

    }
  }
  .indicator__overlay--list {
    padding: 0 $global-spacing $global-spacing $global-spacing;
  }
  .indicator__overlay--item {
     list-style: none;
     color: $base-color;
     font-size: 0.875rem;
     line-height: 1.25rem;
     padding: $global-spacing $global-spacing * 2;
     position: relative;
     box-shadow: inset 0 -1px 0 0 $tertiary-color;
     a {
      padding-left: 20px;
      color: $base-font-color;
     }
     &:last-child {
      padding-bottom: 0;
      box-shadow: none;
     }
     &:hover {
      color: $base-color;
      a {
        color: $base-color;
        opacity: 1;
      }
     };
  }
  .indicator__overlay--selected {
    a {
      color: $base-color;
    }
  }
}

.indicator-list {
  .section__title {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.indicator__overlay .indicator__overlay--list {
  margin-bottom: $global-spacing * 2;
  overflow: hidden;
}

.indicator-list .indicator__overlay {
  position: relative;
  box-shadow: none;
 /* li {
    display: block;
    float: left;
    box-shadow: inset -1px 0px 0 0 #E9E9E9;
    padding: 1rem 1rem 1rem 2rem;
    @include col(12/12);
    @include media(small-up) {
      @include col(6/12, $uncycle: 3);
    }
    @include media(medium-up) {
      @include col(4/12, $cycle: 3);
    }
  }
  .indicator-close {
    margin-left: $global-spacing/4;
    right: inherit;
  }*/
}

.indicator-close, .indicator-toggle {
  top: $global-spacing - 0.125rem;
  @extend .button, .button--small, .button--base-unbounded, .button--text-hidden;
  position: absolute;
}

.indicator-close {
  right: 0;
  &:before {
    @extend %collecticon-sm-xmark;
  }
}

.indicator-toggle {
  left: 0;
  opacity: 0.32;

  &:before {
    @extend %collecticon-eye;
  }

  .indicator__overlay--selected & {
    opacity: 1;
  }
}

.legend__container {
  position: relative;
  padding: 1em 0;
}

.home, .category {
  .map__group {
    position: relative;
  }
  .legend__container {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255, 0.6);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.75rem;
  }
}

.inpage__col--map {
  .legend__container {
    position: absolute;
    background-color: rgba(255,255,255, 0.6);
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}

.legend__item {
  float: left;
  margin: 0.5rem 1.25rem 0.5rem 0;
}

.legend__item--overlay--bg {
  float: left;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 0.25rem .25em 0 0;
  border-radius: 2px;
}

.legend__item--overlay-text {
  float: left;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: $base-color;
}

.legend__overlay--units {
  float: left;
  font-size: 1rem;
  line-height: 2rem;
  color: $base-color;
}

.legend__label--cluster {
  &:before {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.6em;
    padding-left:0.37rem;
    line-height: 1.25rem;
    background-color: rgba($base-color, 0.6);
    color: #FFFFFF;
    border-radius: 50%;
    content: "8";
  }
}

.legend__label--marker {
  &:before {
    display: inline-block;
    width: 18px;
    height: 25px;
    margin: 0 0.65rem -9px 0;
    background-size: cover;
    background-image: url("/assets/graphics/content/map-pin.png");
    content: "";
  }
}

.form__option__info {
  margin-left: .6em;
  background-color: $tertiary-color;
  border-radius: 15px;
  padding: .2em .6em;
  font-size: .8em;
}
