@media print {
  .page__header {
    display: none;
  }

  .page__footer {
    display: none;
  }

  .map__group, .inpage__col--map, section {
    float: none !important;
    /*page-break-after: always;*/
  }

  .inner {
    width: 100%;
    height: 100%;
  }

  .inpage__section--overview {
    width: 100%;
    height: 100%;
    page-break-after: always;
  }

  .inpage__section--overview .inpage__col--map {
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    .map__container {
      min-height: 890px;
    }
    .legend__container {
      background-color: none;
    }
  }

  .inpage__col--content {
    padding-left: 0;
    float: none;
    text-align: left;
    display: block;
  }

  .inpage__section--comparison {
    display: visible;
  }

  .leaflet-control-layers {
    display: none;
  }

  .leaflet-control-attribution {
    display: none;
  }

  .leaflet-control-zoom {
    display: none;
  }

  .inpage__headline-actions {
    display: none;
  }

  .inpage__body {
    background-color: #fff;
  }

  .inpage__header {
    padding-bottom: 0;
    page-break-after: always;
    margin-top: 12em;
  }

  .inpage__table td:last-child {
    box-shadow: none;
    border-bottom: solid 1px $tertiary-color;
  }

  .tags {
    margin-top: 0.5rem;
  }

  .inpage__section {
    box-shadow: 0 0 0 0px #E0E0E0;
    margin-bottom: 1rem;
  }

  .inpage__section:first-child{
    margin-top: 1rem;
  }

  .inpage__section--bleed {
    display: none;
  }

  .projects-list {
    float: none !important;
    page-break-before: always;
  }

  .projects-list__card {
    width: 85% !important;
    margin-left: none !important;
    float: left !important;
  }
}