@media print {
  .page__header {
    display: none;
  }

  .page__footer {
    display: none;
  }

  a.link--primary { 
    background-image: none;
  }

  .map__group, .inpage__col--map, section {
    float: none !important;
  }

  .inpage__section--overview {
    page-break-after: always;
  }

  .inpage__section--overview {
    display: block;
    .inpage__col--map {
      float: none !important;
      margin-right: 0;
      padding-right: 0;
      flex: none;
      height: 890px;
      width: 100% !important;
      position: relative;
      overflow: hidden;
      .map__group {
        width: 100% !important;
      }
      .map__container {
        position: static;
        height: 890px;
        width: 100% !important;
      }
      .legend__container {
        background-color: none;
      }
    }
    .inpage__col--content {
      padding-left: 0;
      float: none !important;
      display: block;
      width: 100% !important;
      flex: none;
    }
  }

  .chart__inline--labels {
    float: none !important;
  }

  .leaflet-control-layers {
    display: none;
  }

  .leaflet-control-attribution {
    display: none;
  }

  .leaflet-control-zoom {
    display: none;
  }

  .inpage__headline-actions {
    display: none;
  }

  .inpage__body {
    background-color: #fff;
  }

  .inpage__header {
    padding-bottom: 0;
    page-break-after: always;
    margin-top: 12em;
    .inpage__title {
      width: 100%;
    }
  }

  .funding {
    .inpage__header {
      page-break-after: avoid;
      margin-top: 0;
    }
    .inpage__section--overview {
      page-break-after: avoid;
      min-height: 0;
      .inpage__col--map {
        page-break-after: always;
        height: 500px;
        .map__container {
          height: 500px;
        }
      }
    }
  }

  .category {
    .inpage__header {
      page-break-after: avoid;
      margin-top: 0;
    }
    .map__group {
      page-break-after: always;
    }
    .inpage__section--compare {
      page-break-after: always;
    }
  }

  .owner {
    .inpage__section--overview {
      page-break-after: avoid;
      .inpage__col--map {
        page-break-after: avoid;
        height: 500px;
        .map__container {
          height: 500px;
        }
      }
    }
  }

  .inpage__table td:last-child {
    box-shadow: none;
    border-bottom: solid 1px $tertiary-color;
  }

  .tags {
    margin-top: 0.5rem;
  }

  .inpage__section {
    box-shadow: none;
    margin-bottom: 1rem;
  }

  .inpage__section:first-child{
    margin-top: 1rem;
  }

  .inpage__section--bleed {
    display: none;
  }

  .inpage__section--print {
    display: block;
    padding: 0;
  }

  .projects-list {
    float: none !important;
  }

  .projects-list__card {
    width: 85% !important;
    float: none !important;
    margin-left: none !important;
  }

  .inpage {
    &__table {
      display: block; 
    }

    tbody {
      display: block;
    }

    thead {
      display: block;
      tr {
        display: block; 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    th {
      display: block; 
    }

    td {
      display: block; 
      border: none;
      &:last-child {
        margin-bottom: $global-spacing;
      };
    }

    .activity-name {
      position: relative !important;
      top: 0;
    }

    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
  }
  td:nth-of-type(1):before { 
    content: "Status"; 
  }
  td:nth-of-type(2):before { 
    content: "Name and Description"; 
  }
  td:nth-of-type(3):before { 
    content: "KPI"; 
  }
  td:nth-of-type(4):before { 
    content: "Target"; 
  }
  td:nth-of-type(5):before { 
    content: "Progress"; 
  }
  td:nth-of-type(6):before { 
    content: "Date"; 
  }

  /*projects page*/
  .actions-toggle {
    display: none;
  }
  .map__actions {
    display: none;
  }
  .button--list {
    display: none;
  }
  .inpage__description {
    display: none;
  }

  .project-browse {
    .inpage__header {
      margin-top: 0;
      page-break-after: avoid;
    }
  }
  .indicator-close {
    display: none;
  }
  .indicator__overlay {
    box-shadow: none;
    padding: 0;
  }
  .legend__overlay {
    display: block;
    clear: both;
    margin-left: .6em;
  }
}