.lang--rtl {

  body {
    direction: rtl;
    text-align: right;
  }

  .browse-menu > li {
    @include media(medium-up) {
      float: right;
      margin: 0 0 0 1.5rem;
    }
  }

  .page__headline {
    float: right;
    padding-right: 0;
  }

  .page__title {
    box-shadow: inset 1px 0 0 $tertiary-color;
    padding-left: $global-spacing;
    height: 100%;
  }

  .inpage {

    &__headline-actions {
      float: left;
      width: auto;
    @include media(small-down){
      width: 100%;
      }
      li {
        @include media(small-down){
          float: right;
          &:last-child {
            margin-right: $global-spacing/2;
          };
        }
      }
    }

    &__title {
      float: right;
      margin-right: 0;
    }

    &-meta__value {
      float: right;
      &--status {
        margin-right: 0rem;
        box-shadow: -1px 0 0 #2B2342;
        &:before {
          right: 0;
        };
      }
    }
    &-meta__label {
      float: right;
      margin-left: $global-spacing/2;
    }
    &-stats li {
      float: right;
      box-shadow: -1px 0 0 #E9E9E9;
      margin-right: 0;
      padding-left: 1rem;
      margin-left: 1rem;
      padding-right: 0;
      &:last-child {
        box-shadow: none;
      };
      @include media(medium-up) {
        padding-left: 4rem;
        padding-right: 0;
        margin-right: 0;
      }
    }
    &__table {
      th {
      text-align: right
      }
      td {
        padding-right: 0;
        padding-left: $global-spacing * 2;
      }
    }
    &__section {
    &--title-aligned {
      text-align: right;
      float: right;
     }
    }

    &__col--map {
      float: left;
    }

    &__col--content {
      float: right;
    }
    &__body--alt p {
      float: right;
      margin-right: 0;
    }
    &__header-data{
      .inpage-stats li {
        padding-left: 2rem;
        &:last-child {
          padding-right: 2rem;
        };
      }
    }
  }

  .overview-charts {
    .chart__inline--labels {
      float: right;
    }
  }

  .inpage__body--alt section {
    float: right;
  }

  .inpage__table td:nth-of-type(n):before {
    right: 0;
    text-align: right;
  }

  .inpage__section--overview {
    .inpage__col--content {
      @include media(medium-up){
        float: right;
      }
      @include media(small-down) {
        padding: 2rem;
      }
    }

    .inpage__col--map {
      @include media(medium-up){
        float: left;
        margin-right: 0;
      }
    }

  }

  .heading--deco::after {
    right: 0;
  }
  .heading--deco-small::after {
    right: 0;
  }

  .inpage__overview-links li {
    @include media (medium-up) {
      float: right;
      margin-right: 0;
    }
  }

  .inpage__overview-links li a {
    float: right;
    clear: right;
  }

  /*FOOTER*/

  .page__footer {
    .updates {
      @include media(medium-up) {
        float: right;
        margin-right: 0;
      }

    .form__input-group {
      float: right;
      }
    }

    .form__input-group-button:last-child > .button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    .form__input-group .form__control:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    .logos {
      @include media(medium-up) {
        clear: right;
        float: right;
      }
    }
    .logos__list li  {
      float: right;
    }
  }

  /*CARDS*/

  .card-body {
    p {
      float: right;
    }
  }

  .inpage__section--bleed {
    .projects-list__card {
      @include media(medium-up) {
        float: right;
        padding: ($global-spacing * 2) 0 ($global-spacing * 2) ($global-spacing * 2);
        margin-left: 3%;
        margin-right: 0%;
        &:nth-of-type(3) {
          margin-left: 0;
        }
      }
      @include media(medium-list-down) {
        float: right;
        margin-left: 1.5%;
        margin-right: 0%;
      }
      @include media(small-down) {
        float: right;
      }
      @include media(xsmall-only) {
        float: right;
      }
    }
  }

  .inpage__section .projects-list__card {

    @include media(medium-up) {
      float: right;
      padding: ($global-spacing * 2) 0 ($global-spacing * 2) ($global-spacing * 2);
      margin-left: 2%;
      margin-right: 0%;
      &:nth-of-type(3) {
        margin-left: 0;
      }
    }
    @include media(medium-list-down) {
      float: right;
      margin-left: 1.5%;
      margin-right: 0%;
    }
    @include media(small-down) {
      float: right;
    }
    @include media(xsmall-only) {
      float: right;
    }
  }

  .card-meta__value--status {
    margin-left: 1rem;
    padding-right: 0.75rem;
    margin-right: 0;
    padding-left: 0;
  }

  .card-meta__value--status:before {
    right: 0;
  }

  .card-meta {
    &__value {
      float: right;
    }
  }

  .card-cmplt > li > span {
    right: 100%;
    left: 0;
    margin-right: $global-spacing/2;
    margin-left: 0;
  }

  .card-stats li {
    float: right;
    box-shadow: -1px 0 0 $tertiary-color;
    padding-left: 1rem;
    margin-left: 1rem;
    padding-right: 0rem;
    margin-right: 0rem;
    &:last-child {
      box-shadow: none;
    };
  }

  .inpage__section--related .related-projects-card {
    float: right;
    padding: 2rem 0 2rem 2rem;
  }

  /*homepage specific */

.inpage__description {
    float: right;
    margin-right: 0;
    margin-left: 3%;
  }

.category-stats {
    box-shadow: inset 0 -1px 0 0 $tertiary-color;
    padding-top: $global-spacing;
    &:last-child {
      box-shadow: none;
    }
    @include media(medium-up) {
      padding-top: 0;
      padding-right: $global-spacing * 4;
      @include col(4/12);
      box-shadow: inset -1px 0 0 $tertiary-color;
    }
  }

  .section__footer li {
    margin-left: 1rem;
    margin-right: 0;
    &:last-child {
      margin-left: 0;
    }
  }

  /*project browse*/
  .actions-filters {
    float: right;
    margin-right: 0;
    .button--list > li:first-child {
      margin-right: 0;
    }
  }

  .filters {
    float: right;
  }

  .react-autosuggest__input {
    padding-right: 3rem;
  }

  .button--list li{
    float: right;
    &:first-child {
      margin-left: $global-spacing;
      margin-right: 0;
      @include media(medium-up) {
       margin-left: 1rem;
       margin-right: 0;
     }
    }
  }

  .section__header {
    .sort {
      float: left;
    }
    .section__title {
      float: right;
    }
  }

  .actions-toggle {
    width: auto;
    .button--toggle {
      float: right;
    }
    @include media(small-down){
      float: right;
    }
  }

  .button--tag {
    &:after {
      @extend %collecticon-xmark;
      margin-right: $global-spacing/2;
    }
  }

  /*general styles */
  .drop__toggle--caret:after {
    padding-right: $global-spacing/4;
  }
  .drop--align-right {
    @include media(medium-up) {
      right: auto;
      left: 0;
    }
  }
  .modal__button-dismiss {
    right: auto;
    left: 1rem;
    top: 1rem;
  }
  .modal {
    .inpage__title {
      width: auto;
    }
  }
  .modal__filters .form__fieldset {
    float: right;
    padding-top: 2rem;
    margin-right: 0;
    margin-left: $global-spacing * 2;
  }
  .modal__filters--defaults {
    .form__option--custom-checkbox {
      float: right;
    }
    a {
      float: right;
    }

  }
  .modal__indicators .indicators {
    float: right;
    li {
      border-right-width: 0px;
      border-left-width: 1px;
      text-align: right;
    }
  }
  .modal__instructions p{
    float: right;
  }
  .indicators--selected {
    .button--tag {
      float: right;
    }
  }
  .share--box {
    .form__label {
      position: relative;
    }
  }
  .form__label {
    float: right;
    position: absolute;
    right: 0;
    top: 0rem;
  }
  .form__option__ui {
    right: 0;
    left: auto;
  }
  .form__option__text {
    padding-right: 1.5rem;
  }
  .form__input-group {
    float: right;
  }
  .form__input-group-button:last-child > .button {
    border-top-right-radius: $global-spacing/4;
    border-bottom-right-radius: $global-spacing/4;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .heading--label {
    margin-left: $global-spacing/2;
  }

  .button--download:after {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  /*project page */
  .tags-group {
    float: right;
  }
  .tags__label {
    float: right;
  }
  .chart__axis-ticks {
    direction: ltr;
  }
  .marker-cluster div {
    margin-left: 0;
    margin-right: 5px
  }
  .timeline__headline, .timeline__row {
    float: right;
    margin-right: 0;
  }
  .legend__item {
    float: right;
  }
  .legend__image--cluster {
    margin-right: 0;
    margin-left: 0.5em;
  }
  .legend__marker--cluster{
    &:first-child {
      margin-top: 0.2rem;
    };
  }

  .indicator-list-container .chart-container:last-child {
    margin-right: 5rem;
  }

  .indicator-list {
    .section__title {
      float: none;
    }
  }

  .chart-content {
    float: right;
  }

  .indicator-list-container {
  .chart-container {
    float: right;
    @include media(medium-up) {
      float: right;
      margin-left: 0;
      margin-top: 5rem;
    }
  }
  .indicator__overlay {
    left: 0;
    @include media(medium-up) {
      float: right;
    }
  }
}
}
